@charset "UTF-8";

/* select-01 */
.select-01 {
    background: url(../img/content_01/bg.png) no-repeat;
}

.ponter-none{
    pointer-events: none;
}

.select-01 .face{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/content_01/face_01.png);
}

.select-01 .face.active{
    display: block;
    animation:face 3s forwards;
}

@keyframes face{
    0%{
        background-image: url(../img/content_01/face_01.png);
    }

    20%{
        background-image: url(../img/content_01/face_02.png);
    }

    40%{
        background-image: url(../img/content_01/face_03.png);
    }

    60%{
        background-image: url(../img/content_01/face_04.png);
    }

    70%{
        background-image: url(../img/content_01/face_05.png);
    }

    85%{
        background-image: url(../img/content_01/face_06.png);
    }

    100%{
        background-image: url(../img/content_01/face_07.png);
    }
}

.select-01 .hand{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/content_01/hand_01.png);
}

.select-01 .hand.active{
    display: block;
    animation:hand 3s forwards;
}

@keyframes hand{
    0%{
        background-image: url(../img/content_01/hand_01.png);
    }

    20%{
        background-image: url(../img/content_01/hand_02.png);
    }

    40%{
        background-image: url(../img/content_01/hand_03.png);
    }

    60%{
        background-image: url(../img/content_01/hand_04.png);
    }

    70%{
        background-image: url(../img/content_01/hand_05.png);
    }

    85%{
        background-image: url(../img/content_01/hand_06.png);
    }

    100%{
        background-image: url(../img/content_01/hand_07.png);
    }
}


.select-01 .btn-face{
    position: absolute;
    bottom: 22%;
    left: 5%;
    width: 9.74%;
    height: 16.85%;
    background-image: url(../img/content_01/btn_face.png);
    z-index: 3;
}

.select-01 .btn-face.active{
    transform: scale(1.5);
    background-image: url(../img/content_01/btn_face_active.png);
    pointer-events: none;
}

.select-01 .btn-face.end{
    transform: scale(1);
    filter: grayscale(1);
}

.select-01 .btn-hand{
    position: absolute;
    bottom: 22%;
    right: 5%;
    width: 9.74%;
    height: 16.85%;
    background-image: url(../img/content_01/btn_hand.png);
    z-index: 3;
}

.select-01 .btn-hand.active{
    transform: scale(1.5);
    background-image: url(../img/content_01/btn_hand_active.png);
}

.select-01 .btn-hand.end{
    transform: scale(1);
    filter: grayscale(1);
}


.select-01 .star{
    position: absolute;
    top: 20%;
    right: 2%;
    width: 13.44%;
    height: 11.48%;
    background-image: url(../img/content_01/star.png);
}

.select-01 .star.active1{
    background-image: url(../img/content_01/star_01.png);
}

.select-01 .star.active2{
    background-image: url(../img/content_01/star_02.png);
}

.select-01 .star.active3{
    background-image: url(../img/content_01/star_03.png);
}


/* select-02 */
.select-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10%;
}

.select-02 .btn{
    position: absolute;
    display: flex;
    gap: 15%;
    left: 50%;
    bottom:2%;
    transform: translateX(-50%);
    width: 100%;
    height: 45.41%;
    padding:0 11%;
}

.select-02 .btn > button{
    width: 33%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.select-02 .lyrics{
    position: absolute;
    top: 25%;
    color: #522a35;
    font-size: 50px;
    font-family: 'BMJUA';
    border:3px solid #ffc4c4;
    border-radius: 25px;
    background: #fff ;
    padding:2% 10%;
    width: 80dvw;
}

.select-02 .lyrics span.active{
    color:#e26f6f;
}

.select-02 .btn > button:active{
    transform: scale(1.3);
}

.select-02 .btn .deong{
    background-image: url(../img/content_02/btn_01.png);
}

.select-02 .btn .deong:active{
    background-image: url(../img/content_02/btn_01_active.png);
}

.select-02 .btn .duck{
    background-image: url(../img/content_02/btn_02.png);
}

.select-02 .btn .duck:active{
    background-image: url(../img/content_02/btn_02_active.png);
}

.select-02 .btn .kung{
    background-image: url(../img/content_02/btn_03.png);
}

.select-02 .btn .kung:active{
    background-image: url(../img/content_02/btn_03_active.png);
}


@media screen and (max-width: 1450px) {
    
}
@media screen and (max-width: 1280px) {
    .select-01 .palette > button{
        border-width: 5px;
    }
}

@media screen and (max-width: 1060px) {
   
}

@media screen and (max-width: 768px) {
    .select-01 .palette > button{
        border-width: 3px;
    }
}

@media screen and (max-width: 475px) {
   
}
