@charset "UTF-8";

/* select-01 */
.select-01 {
    background: url(../img/content_01/bg.png) no-repeat;
}

.ponter-none{
    pointer-events: none;
}

.select-01 .face{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/content_01/face_01.png);
}

.select-01 .face.active{
    display: block;
    animation:face 3s forwards;
}

@keyframes face{
    0%{
        background-image: url(../img/content_01/face_01.png);
    }

    12.8%{
        background-image: url(../img/content_01/face_02.png);
    }

    33.5%{
        background-image: url(../img/content_01/face_03.png);
    }

    59.1%{
        background-image: url(../img/content_01/face_04.png);
    }

    69.5%{
        background-image: url(../img/content_01/face_05.png);
    }

    89.7%{
        background-image: url(../img/content_01/face_06.png);
    }

    100%{
        background-image: url(../img/content_01/face_07.png);
    }
}

.select-01 .hand{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/content_01/hand_01.png);
}

.select-01 .hand.active{
    display: block;
    animation:hand 3s forwards;
}

@keyframes hand{
    0%{
        background-image: url(../img/content_01/hand_01.png);
    }

    12.8%{
        background-image: url(../img/content_01/hand_02.png);
    }

    33.5%{
        background-image: url(../img/content_01/hand_03.png);
    }

    59.1%{
        background-image: url(../img/content_01/hand_04.png);
    }

    69.5%{
        background-image: url(../img/content_01/hand_05.png);
    }

    89.7%{
        background-image: url(../img/content_01/hand_06.png);
    }

    100%{
        background-image: url(../img/content_01/hand_07.png);
    }
}


.select-01 .btn-face{
    position: absolute;
    bottom: 22%;
    left: 5%;
    width: 9.74%;
    height: 16.85%;
    background-image: url(../img/content_01/btn_face.png);
    z-index: 3;
}

.select-01 .btn-face.active{
    transform: scale(1.5);
    background-image: url(../img/content_01/btn_face_active.png);
    pointer-events: none;
}

.select-01 .btn-face.end{
    transform: scale(1);
    filter: grayscale(1);
}

.select-01 .btn-hand{
    position: absolute;
    bottom: 22%;
    right: 5%;
    width: 9.74%;
    height: 16.85%;
    background-image: url(../img/content_01/btn_hand.png);
    z-index: 3;
}

.select-01 .btn-hand.active{
    transform: scale(1.5);
    background-image: url(../img/content_01/btn_hand_active.png);
}

.select-01 .btn-hand.end{
    transform: scale(1);
    filter: grayscale(1);
}


.select-01 .star{
    position: absolute;
    top: 20%;
    right: 2%;
    width: 13.44%;
    height: 11.48%;
    background-image: url(../img/content_01/star.png);
}

.select-01 .star.active1{
    background-image: url(../img/content_01/star_01.png);
}

.select-01 .star.active2{
    background-image: url(../img/content_01/star_02.png);
}

.select-01 .star.active3{
    background-image: url(../img/content_01/star_03.png);
}


/* select-02 */
.select-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10%;
}

.select-02 .btn{
    position: absolute;
    display: flex;
    gap: 10%;
    left: 50%;
    bottom:2%;
    transform: translateX(-50%);
    width: 100%;
    height: 38.41%;
    padding:0 11%;
}

.select-02 .btn > button{
    position: relative;
    width: 33%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.select-02 .lyrics{
    position: absolute;
    top: 22%;
    color: #522a35;
    width: 68.10%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.select-02 .lyrics .lyrics-wrap{
    width: 100%;
    font-size: 0;
    display: none;
}

.select-02 .lyrics .lyrics-wrap > div{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 100%;
    pointer-events: none;
}

.select-02 .lyrics .lyrics-wrap > div.active::before{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    outline:6px solid #4399f0;
    outline-offset: -6px;
    z-index: 10;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.select-02 .lyrics .lyrics-wrap > div.active:first-child::before{
    border-radius: 12% 0 0 12%;
}

.select-02 .lyrics .lyrics-wrap > div.active:last-child::before{
    border-radius: 0 12% 12% 0;
}


.select-02 .lyrics .lyrics-wrap > div img{
    height: 100%;
}

.select-02 .lyrics .lyrics-wrap div:nth-child(1),
.select-02 .lyrics .lyrics-wrap div:nth-child(3){
    width: 30%;
}
.select-02 .lyrics .lyrics-wrap div:nth-child(1){
    width: 30.1%;
}

.select-02 .lyrics .lyrics-wrap div:nth-child(2),
.select-02 .lyrics .lyrics-wrap div:nth-child(4){
    width: 20%;
}

.select-02 .lyrics .lyrics-wrap div:nth-child(4){
    width: 19.9%;
}

.select-02 .lyrics span.heart.null{
    color: #fff;
}

.select-02 .lyrics span.spacing{
    margin-left:3.5%;
}

.select-02 .lyrics span.heart::before{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 50%;
    background-image: url(../img/content_02/heart.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.select-02 .lyrics span[data-verse="2"]{
    display: none;
}

.select-02 .lyrics span.active{
    color:#e26f6f;
}

.select-02 .lyrics span.heart.active::before{
    background-image: url(../img/content_02/heart2.png);
}

.select-02 .btn > button.active::before{
    content: '';
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 20%;
    background-image: url(../img/content_02/pointer.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.select-02 .btn > button:active{
    transform: scale(1.4);
}

.select-02 .btn .btn-rendition{
    background-image: url(../img/content_02/btn.png);
    animation: alternateImages 1s 4;
    animation-delay: 2s;
}

.select-02 .btn .btn-rendition:active{
    background-image: url(../img/content_02/btn_over.png);
}
.select-02 .btn .chat{
    width: 22.292%;
    height: 82.63%;
    background-size: 100%;
}

@keyframes alternateImages {
    0% {
      background-image: url('../img/content_02/btn.png');
    }
    50% {
      background-image: url('../img/content_02/btn_over.png');
      transform: scale(1.4);
    }
    100% {
      background-image: url('../img/content_02/btn.png');
    }
  }

.select-02 .btn .chat.active{
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.select-02 .btn .chat.chat-01{
    background-image: url(../img/content_02/chat.png);
}



.select-02 .btn .chat.chat-02{
    background-image: url(../img/content_02/chat_02.png);
}


@media screen and (max-width: 1450px) {
    
}
@media screen and (max-width: 1280px) {
    .select-01 .palette > button{
        border-width: 5px;
    }

    .select-02 .lyrics .lyrics-wrap > div.active::before{

        outline:3px solid #4399f0;
        outline-offset: -3px;
    }
}

@media screen and (max-width: 1060px) {
   
}

@media screen and (max-width: 768px) {
    .select-01 .palette > button{
        border-width: 3px;
    }
}

@media screen and (max-width: 475px) {
   
}
