@charset "UTF-8";

/* select-01 */
.select-01 {
    background: url(../img/content_01/bg.png) no-repeat;
}



/* select-02 */
.select-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10%;
}

.select-02 .hidden-plate{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 3% 3% 3%;
}

.select-02 .hidden-plate .plate-wrap{
    position: relative;
    width:  77%;
    height: 100%;
}

.select-02 .hidden-plate .pop-wrap{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  100%;
    height: 100%;
    pointer-events: none;
    animation:opacity 2s forwards;
}

.select-02 .hidden-plate img{
    width: 40%;
}

.select-02 .hidden-plate .plate{
    width:  100%;
    height: 100%;
    background-image: url(../img/content_02/bg_contents.png);
    background-size: 100%;
}

.select-02 .plate > div{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.select-02 .plate > div.correct::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 247px;
    background-image: url(../img/content_02/correct.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.select-02 .plate > div.correct{
   pointer-events: none;
}


.select-02 .plate > .daegeum{
    top:45%;
    left: 66.4%;
    width: 2.23%;
    height: 42.66%;
    background-image: url(../img/content_02/daegeum.png);
}
.select-02 .plate > .daegeum.active,
.select-02 .plate > .daegeum:hover{
    top: 40%;
    width: 3.63%;
    height: 49.82%;
    background-image: url(../img/content_02/daegeum_over.png);
}

.select-02 .plate > .piri{
    top: 40%;
    right: 4%;
    width: 0.74%;
    height: 21.80%;
    background-image: url(../img/content_02/piri.png);
}

.select-02 .plate > .piri.active,
.select-02 .plate > .piri:hover{
    right: 3%;
    width: 2.05%;
    height: 28.02%;
    background-image: url(../img/content_02/piri_over.png);
}

.select-02 .plate > .sogeum{
    top: 24%;
    left: 45%;
    width: 14.14%;
    height: 1.87%;
    background-image: url(../img/content_02/sogeum.png);
}

.select-02 .plate > .sogeum.active,
.select-02 .plate > .sogeum:hover{
    left: 43%;
    width: 18.23%;
    height: 4.52%;
    background-image: url(../img/content_02/sogeum_over.png);
}

.select-02 .plate > .saenghwang{
    bottom: 15%;
    left: 8%;
    width: 11.26%;
    height: 7.32%;
    background-image: url(../img/content_02/saenghwang.png);
}

.select-02 .plate > .saenghwang.active,
.select-02 .plate > .saenghwang:hover{
    left: 7%;
    width: 14.14%;
    height: 9.96%;
    background-image: url(../img/content_02/saenghwang_over.png);
}

.select-02 .hidden-plate .hidden-tool{
    background: #fff;
    border-radius: 2.2rem;
    width: 22%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.select-02  .hidden-tool .title{
    width: 100%;
    height: 15%;
    background-color: #3f7cc4;
    background-image: url(../img/content_02/hint_title.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
}

.select-02  .hidden-tool .hint{
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    padding: 5%;
}

.select-02 .hint > button:disabled{
    pointer-events: none;
}

.select-02 .hint > button.correct::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68%;
    height: 37%;
    background-image: url(../img/content_02/hint_correct.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.select-02 .hint > button{
    position: relative;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.select-02 .hint > .daegeum{
    background-image: url(../img/content_02/hint_daegeum.png);
}

.select-02 .hint > .piri{
    background-image: url(../img/content_02/hint_piri.png);
}

.select-02 .hint > .sogeum{
    background-image: url(../img/content_02/hint_sogeum.png);
}

.select-02 .hint > .saenghwang{
    background-image: url(../img/content_02/hint_saenghwang.png);
}

.select-02 .wrong{
    position: absolute;
    width: 8.93%;
    height: 15.41%;
    background-image: url(../img/content_02/wrong.png);
    background-repeat: no-repeat;
}



@keyframes opacity {
    80% {
      opacity: 1;
    }
   
    100% {
      opacity: 0;
    }
  }


@media screen and (max-width: 1450px) {
    
}
@media screen and (max-width: 1280px) {
   
}

@media screen and (max-width: 1060px) {
   
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 475px) {
   
}
